/**
 * ProxyVaultPro - Particle System Styles
 */

#particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: var(--particle-opacity, 0.5);
}

.particles-disabled #particle-canvas {
    display: none;
}